<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToQueueServlet</servlet-name>
        <servlet-class>servlets.AddToQueueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateAllMovieServlet</servlet-name>
        <servlet-class>servlets.GenerateAllMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueueServlet</servlet-name>
        <servlet-class>servlets.QueueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>servlets.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsServlet</servlet-name>
        <servlet-class>servlets.SettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupportServlet</servlet-name>
        <servlet-class>servlets.SupportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromQueueServlet</servlet-name>
        <servlet-class>servlets.RemoveFromQueueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCustomerSettingsServlet</servlet-name>
        <servlet-class>servlets.SaveCustomerSettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>servlets.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateMovieDetailServlet</servlet-name>
        <servlet-class>servlets.GenerateMovieDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterNewUserServlet</servlet-name>
        <servlet-class>servlets.RegisterNewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateStateServlet</servlet-name>
        <servlet-class>servlets.GenerateStateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCustomerOptionsServlet</servlet-name>
        <servlet-class>servlets.SaveCustomerOptionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeServlet</servlet-name>
        <servlet-class>servlets.AdminHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSalesServlet</servlet-name>
        <servlet-class>servlets.AdminSalesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEmployeesServlet</servlet-name>
        <servlet-class>servlets.AdminEmployeesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRentalsServlet</servlet-name>
        <servlet-class>servlets.AdminRentalsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMoviesServlet</servlet-name>
        <servlet-class>servlets.AdminMoviesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminActorsServlet</servlet-name>
        <servlet-class>servlets.AdminActorsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortMoviesServlet</servlet-name>
        <servlet-class>servlets.SortMoviesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustRepHomeServlet</servlet-name>
        <servlet-class>servlets.CustRepHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustRepOrdersServlet</servlet-name>
        <servlet-class>servlets.CustRepOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustRepCustomersServlet</servlet-name>
        <servlet-class>servlets.CustRepCustomersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustRepMailingListServlet</servlet-name>
        <servlet-class>servlets.CustRepMailingListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveMovieFromDatabaseServlet</servlet-name>
        <servlet-class>servlets.RemoveMovieFromDatabaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveEmployeeFromDatabaseServlet</servlet-name>
        <servlet-class>servlets.RemoveEmployeeFromDatabaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveActorFromDatabaseServlet</servlet-name>
        <servlet-class>servlets.RemoveActorFromDatabaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <servlet-class>servlets.AddEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateRentalsServlet</servlet-name>
        <servlet-class>servlets.GenerateRentalsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortRentalsServlet</servlet-name>
        <servlet-class>servlets.SortRentalsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveMovieRentalServlet</servlet-name>
        <servlet-class>servlets.ApproveMovieRentalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AskToRentServlet</servlet-name>
        <servlet-class>servlets.AskToRentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustRepCustomerRecServlet</servlet-name>
        <servlet-class>servlets.CustRepCustomerRecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnMovieServlet</servlet-name>
        <servlet-class>servlets.ReturnMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RateMovieServlet</servlet-name>
        <servlet-class>servlets.RateMovieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToQueueServlet</servlet-name>
        <url-pattern>/AddToQueueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateAllMovieServlet</servlet-name>
        <url-pattern>/GenerateAllMovieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueueServlet</servlet-name>
        <url-pattern>/QueueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/HistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsServlet</servlet-name>
        <url-pattern>/SettingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupportServlet</servlet-name>
        <url-pattern>/SupportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromQueueServlet</servlet-name>
        <url-pattern>/RemoveFromQueueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCustomerSettingsServlet</servlet-name>
        <url-pattern>/SaveCustomerSettingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateMovieDetailServlet</servlet-name>
        <url-pattern>/GenerateMovieDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterNewUserServlet</servlet-name>
        <url-pattern>/RegisterNewUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateStateServlet</servlet-name>
        <url-pattern>/GenerateStateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCustomerOptionsServlet</servlet-name>
        <url-pattern>/SaveCustomerOptionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeServlet</servlet-name>
        <url-pattern>/AdminHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSalesServlet</servlet-name>
        <url-pattern>/AdminSalesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEmployeesServlet</servlet-name>
        <url-pattern>/AdminEmployeesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRentalsServlet</servlet-name>
        <url-pattern>/AdminRentalsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMoviesServlet</servlet-name>
        <url-pattern>/AdminMoviesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminActorsServlet</servlet-name>
        <url-pattern>/AdminActorsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortMoviesServlet</servlet-name>
        <url-pattern>/SortMoviesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustRepHomeServlet</servlet-name>
        <url-pattern>/CustRepHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustRepOrdersServlet</servlet-name>
        <url-pattern>/CustRepOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustRepCustomersServlet</servlet-name>
        <url-pattern>/CustRepCustomersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustRepMailingListServlet</servlet-name>
        <url-pattern>/CustRepMailingListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveMovieFromDatabaseServlet</servlet-name>
        <url-pattern>/RemoveMovieFromDatabaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveEmployeeFromDatabaseServlet</servlet-name>
        <url-pattern>/RemoveEmployeeFromDatabaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveActorFromDatabaseServlet</servlet-name>
        <url-pattern>/RemoveActorFromDatabaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <url-pattern>/AddEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateRentalsServlet</servlet-name>
        <url-pattern>/GenerateRentalsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortRentalsServlet</servlet-name>
        <url-pattern>/SortRentalsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveMovieRentalServlet</servlet-name>
        <url-pattern>/ApproveMovieRentalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AskToRentServlet</servlet-name>
        <url-pattern>/AskToRentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustRepCustomerRecServlet</servlet-name>
        <url-pattern>/CustRepCustomerRecServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnMovieServlet</servlet-name>
        <url-pattern>/ReturnMovieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RateMovieServlet</servlet-name>
        <url-pattern>/RateMovieServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
